# =========================================================
# requirements.txt
# =========================================================
flask
trimesh[all]
numpy
scipy
colladapy
rtree
pyrender
lxml
gunicorn
